body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 870px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 150%;
}

.nav-item-link {
  text-decoration: none;
  color: #bf7506;
  margin-left: 24px;
}

.activ {
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-photo {
  margin-right: 27px;
}

.hero-text {
  max-width: 510px;
}

.hero-text-strong {
  font-size: 48px;
  line-height: 125%;
  font-weight: 700;
  color: #211b12;
}

.hero-title {
  font-size: 24px;
  line-height: 135%;
  font-weight: 700;
}

.hero-title span {
  color: #bf7506;
}

.hero-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.hero-social-item {
  margin: 8px;
  padding: 0;
}
