body {
  font-family: "Inter", sans-serif;
  color: #211b12;
}

.container {
  max-width: 870px;
  margin: 0 auto;
  width: 100%;
}

.button {
  border-bottom: 2px solid#bf7506;
  padding: 7px 8px;
}

.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}

.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 150%;
}

.nav-item-link {
  text-decoration: none;
  color: #bf7506;
  margin-left: 24px;
}

.activ {
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-photo {
  margin-right: 27px;
  margin-bottom: 72px;
}

.hero-text {
  max-width: 510px;
}

.hero-text-strong {
  font-size: 48px;
  line-height: 125%;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: -0.03em;
}

.hero-title {
  font-size: 24px;
  line-height: 135%;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
}

.hero-title span {
  color: #bf7506;
}

.hero-links {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 55px;
}

.hero-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.hero-social-link {
  cursor: pointer;
}

.hero-social-item {
  margin-right: 16px;
}

.cv-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.cv-download-helper {
  width: 11px;
  height: 24px;
  margin-right: 10px;
  padding: 1px 6px 1px 7px;
}

.cv-download-text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  color: #211b12;
  align-content: center;
}

.lastprogect-title {
  font-size: 48px;
  line-height: 125%;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #bf7506;
  margin: 0;
  margin-bottom: 32px;
}

.lastprogect-list {
  display: flex;
  justify-content: space-between;
  column-gap: 72px;
  padding: 0;
  list-style: none;
}

.lastprogect-item {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 120px;
}

.lastprogect-item-img {
  margin-bottom: 16px;
}

.lastprogect-item-title {
  color: #bf7506;
  font-size: 24px;
  line-height: 135%;
  font-weight: 700;
  letter-spacing: -0.02.em;
  margin: 0;
  margin-bottom: 8px;
}

.lastprogect-tech-list {
  list-style: none;
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.lastprogect-tech-item {
  padding: 5px 8px 4px;
  border: 1px solid#dd9c3c;
  border-radius: 4px;
  margin-right: 4px;
}

.lastprogect-description {
  margin: 0;
  margin-bottom: 17px;
}

.lastprogect-text-item-text {
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
}

.lastrpgect-button-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 25px;
}

.lastprogect-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lastprogect-button-text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.oops {
  margin: 6px 2px;
}

.bird {
  margin: 2px 0;
}

.developer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 40px;
}

.developer-photo {
  border-radius: 20px;
  margin-right: 56px;
  width: 360px;
  height: 440px;
  flex-shrink: 0;
  object-fit: cover;
}

.developer-about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.developer-hello {
  margin-top: 27px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
}

.developer-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
}

.motto {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 16px;
  line-height: 150%;
}

.developer-text {
  margin-bottom: 32px;
  margin-top: 0;
  font-size: 24px;
  line-height: 150%;
  color: #bf7506;
}
